---
import BaseLayout from '../layouts/BaseLayout.astro';

interface Props {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

const identity: Props = {
  firstName: 'Sarah',
  country: 'Canada',
  occupation: 'Escritor técnico',
  hobbies: ['fotografia', 'observación de aves', 'peñarol'],
};

const skills: string[] = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Redacción de documentos'];

const happy: boolean = true;
const finished: boolean = false;
const goal: number = 3;
---

<BaseLayout pageTitle="About">
  <h2>... ¡y mi nuevo sitio Astro!</h2>

  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li class="skill"> {skill}</li>)}
  </ul> ver cómo va mi viaje!

  {happy && <p>¡Estoy feliz de aprender Astro!</p>}

  {finished && <p>¡He terminado este tutorial!</p>}

  {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
</BaseLayout>
